.logo {
    display: inline;
    height: 40vmin;
    pointer-events: none;
    margin-bottom: 3%;
  }
  
  h1, h2 {
    margin: 1% 0;
  }
  
  h1 {
    color: #4a7ce5;
  }

  .about-container {
    background-image: url(https://github.com/DevayaniShivankar/enthu_core/blob/main/photos/OC-warm.png?raw=true);
  }
  